.home-item {
  width: 370px;
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically align items */
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-left: 22px;
  background: #FFFFFF;
  box-sizing: border-box; /* Include padding in width/height */
}

.home-item-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #1F2128; /* Text color */
}
