.frame-8445891 {
  width: 578px;
  height: 794px;
  background: #FFFFFF;
  border-radius: 6px;
  padding: 10px;
  box-sizing: border-box;
}

.frame-content {
  display: flex;
  flex-direction: column;
  width: 370px;
  border-radius: 6px;
  background: #FFFFFF;
  box-shadow: 0px 8px 15px 0px rgba(20, 20, 20, 0.12), 0px 0px 4px 0px rgba(20, 20, 20, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box; /* To include padding in width/height */
  gap: 12px;
  margin: 85px auto 0 auto; /* Centering horizontally and keeping top margin */
}

.frame-content > .button {
}

.frame-button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%; /* Ensure the wrapper takes full width to center its content */
}
